# Visual Studio
.vs/
obj/

# Non-essential build files
bin/Debug/
bin/Release/net*/TwitchBot.exe
bin/Release/net*/TwitchBot.pdb

# GitHub
.git/
.github/
.gitignore

# Meta
README.md
LICENSE.txt
SECURITY.md

# Project
TwitchBot.csproj
TwitchBot.sln
